# --- TUS VERSIONES ORIGINALES (Base del Proyecto) ---
anyio
asgiref
CacheControl
cachetools
certifi
cffi
charset-normalizer
cryptography
Django
django-cors-headers
djangorestframework
djangorestframework_simplejwt
firebase_admin
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
h11
h2
hpack
httpcore
httpx
hyperframe
idna
msgpack
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
PyJWT
python-decouple
python-dotenv
requests
rsa
sqlparse
typing_extensions
urllib3
pusher

# --- SOLUCIÓN AL CONFLICTO DE GOOGLE (Versiones Flexibles) ---
google-api-core>=2.28.1
google-auth>=2.15.0,<3.0.0
google-cloud-core>=2.5.0
google-cloud-firestore>=2.21.0
google-cloud-storage>=3.6.0
google-api-python-client>=2.187.0
google-auth-httplib2>=0.2.1
google-auth-oauthlib>=1.2.1

# --- LIBRERÍAS NUEVAS ---
# Tareas y Mensajería
celery
kombu
amqp
billiard
vine
redis

# Google Drive Extras
httplib2
oauthlib
requests-oauthlib
uritemplate

# Documentos y Datos (Compilación lenta en Python 3.14)
python-docx
docx2pdf
openpyxl
et_xmlfile
pandas
numpy
lxml
pillow

# Bases de Datos
pymongo

# Automatización y Scraping
selenium
webdriver-manager
trio
trio-websocket
wsproto
websocket-client

# Almacenamiento y Auth Extra
gunicorn
boto3
botocore
s3transfer
django-storages
django-allauth

# Utilidades Necesarias
tqdm
packaging
pyparsing
python-dateutil
tzdata
pytz
attrs
dnspython
